@model decimal

<a align="center"  asp-area="" asp-controller="cart" asp-action="index" type="button" class="bi bi-cart4">
    Корзина
    <h17>
    @if (Model != 0)
    {
        <span class=" translate-middle badge rounded-pill bg-danger">
            @Model
        <span class="visually-hidden"></span>
    </span>
    }
    </h17>
</a>

