@model List<ProductViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<h1 align="center"> Приветствуем Вас в нашем книжном магазине</h1>
<div class="row">
@foreach (var product in Model)
{
    <div class="col-3 card shadow-lg">
            <img class="card-img-top" src="@product.Link">
            <div class="card-body">
                <a style="color:navy" href="/product/index/@product.Id">
                    <h5>@product.Name</h5>
                </a>
                <h5>@string.Format("{0:### ### ###}",product.Cost) руб.</h5>
                <a class="btn btn-Info bi bi-bookmark-heart-fill" href="/favourites/add?productId=@product.Id" role="button"> Добавить в избранное</a>
                <a class="btn btn-dark bi bi-cart-plus" href="/cart/add?productId=@product.Id" role="button" onclick="event.preventDefault(); addToCart(@product.Id)"> Добавить в корзину</a>
                <script>
                    function addToCart(productId) {
                        fetch(`/cart/add?productId=${productId}`, {
                            method: 'POST',
                        })
                            .then(response => response.json())
                            .then(data => {
                                console.log(data);
                            })
                            .catch(error => {
                                console.error('Error:', error);
                            });
                    }
                </script>
                
                
            </div>
            
    </div>
    
}
</div>