@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}

<h1 align="center"> Приветствуем Вас в нашем книжном магазине</h1>
<div class="row">
@foreach (var product in Model)
{
    <div class="col-3 card shadow">
            <img class="card-img-top" src="https://cdn1.ozone.ru/s3/multimedia-k/6717694592.jpg">
            <div class="card-body">
                <a style="color:black" href="/product/index/@product.Id">
                    <h5>@product.Name</h5>
                    @product;
                </a>
                <h5>@product.Cost</h5>
                <a class="btn btn-dark" href="#" role="button">Добавить в корзину</a>
                
            </div>
            
    </div>
    
}
</div>