<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 nav">
        <div class="container-fluid">
            <a class="nav-link btn-lg" asp-area="" asp-controller="home" asp-action="index">Название книжного магазина</a>
            <nav class="nav justify-content-center">
                @await Component.InvokeAsync("Favourites")
                @await Component.InvokeAsync("Cart")
            </nav>
        </div>
    </nav>
</header>