@using OnlineBookShop
@model EditPassword

<form method="post">
    <div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>
    <h4>Изменения пароля пользователя @ViewData["userName"]</h4>
    <br />
    <div class="row mb-3">
        <label asp-for="Password" class="col-sm-1 col-form-label">Пароль</label>
        <div class="col-sm-3">
            <input type="Password" asp-for="Password" placeholder="*********" class="form-control">
            <span asp-validation-for="Password"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label asp-for="ConfirmPassword" class="col-sm-1 col-form-label">Повторите пароль</label>
        <div class="col-sm-3">
            <input type="Password" asp-for="ConfirmPassword" placeholder="*********" class="form-control">
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-outline-primary"asp-area="Administrator" asp-controller="Users" asp-action="EditPassword">Сохранить</button>
    <a class="btn btn-outline-primary" asp-area="Administrator" asp-controller="Users" asp-action="UserDetails">Назад</a>
</form>