@using OnlineBookShop
@model UserViewModel

<form method="post">
    <div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>
    <h4>Редактирование данных пользователя @Model.UserName</h4>
    <br />
    <div class="row mb-3">
        <label asp-for="UserName" class="col-sm-1 col-form-label">Логин</label>
        <div class="col-sm-3">
            <input type="UserName" asp-for="UserName" placeholder="Email" class="form-control">
            <span asp-validation-for="UserName"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label asp-for="Name" class="col-sm-1 col-form-label">ИМя</label>
        <div class="col-sm-3">
            <input asp-for="Name" placeholder="Иван" class="form-control">
            <span asp-validation-for="Name"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label asp-for="PhoneNumber" class="col-sm-1 col-form-label">Телефон</label>
        <div class="col-sm-3">
            <input asp-for="PhoneNumber" placeholder="+7 (928) 555-55-55" class="form-control">
            <span asp-validation-for="PhoneNumber"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-outline-primary" asp-area="Administrator" asp-controller="Users" asp-action="EditUser">Сохранить</button>
    <a class="btn btn-outline-primary" asp-area="Administrator" asp-controller="Users" asp-action="UserDetails">Назад</a>
</form>
